@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

*{
    font-family: Poppins,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body{
    background-color: #f4f4f4;
}

.container{
    max-width: 700px;
    margin: 100px auto;
}

.container .heading{
    font-size: 30px;
    margin-left: 20px;
}

.container p{
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 20px;
    display: block;
}

.container .accordion-wrapper{
    padding: 0 20px;
}

.container .accordion{
    margin-bottom: 20px;
    cursor: pointer;
}

.container .accordion.active .accordion-heading{
    background: #222121;
    color: #fff;
}

.container .accordion.active .accordion-heading i{
    transform: rotate(180deg);
    transition: transform 0.2s 0.1s;
}

.container .accordion.active .accordion-content{
    display: block;
}

.container .accordion-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid #333;
    padding: 10px 20px;
    border-radius: 15px;
}

.container .accordion-heading h3{
    font-size: 20px;
    font-weight: 500;
}

.container .accordion-content{
    padding: 15px 20px;
    border: 2px solid #333;
    border-radius: 20px;
    font-size: 18px;
    background: #fff;
    margin-top: 10px;
    margin-left: 0px;
    display: none;
    animation: animate 0.2s linear backwards;
    line-height: 2;
    transform-origin: top;
}

@keyframes animate {
    0%{
        transform: scaleY(0);
    }
}